@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.aboutSection {
  padding: 60px variables.$padding;

  @include mixins.snowBack;
}

.aboutContent {
  width: 100%;
  height: 100%;
  background-color: variables.$static-white;
  display: flex;
  border-radius: 20px;
  text-align: left;

  @media screen and (width <= 700px) {
    & {
      flex-direction: column;
    }
  }
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 60px;

  @media screen and (width <= 730px) {
    & {
      padding: 0 4.8125vw;
    }
  }

  @media screen and (width <= 700px) {
    & {
      align-items: center;
      padding: 0 5.1125vw;
    }
  }
}

.aboutDescriptionBlock {
  padding: 160px 0;
  flex-basis: 50%;
  max-width: 426px;

  @media screen and (width <= 1440px) {
    padding: 11.1vw 0;
  }

  @media screen and (width <= 768px) {
    padding: 106px 0;
  }

  @media screen and (width <= 700px) {
    padding: 15.7vw 0;
  }
}

.descriptionTitle {
  @include mixins.caption;

  color: variables.$primary;
  margin-bottom: 20px;
}

.descriptionCongratulation {
  @include mixins.header2;

  margin-bottom: 20px;
}

.descriptionText {
  @include mixins.paragraph;
}

.aboutImg {
  flex-basis: 50%;
  border-radius: 20px;
  background: image-set(
    url('../../../img/santa.avif') type('image/avif'),
    url('../../../img/santa.webp') type('image/webp'),
    url('../../../img/santa.png') type('image/png')
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (width <= 700px) {
    & {
      height: 528px;
      flex-basis: auto;
    }
  }
}
