@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.aboutSection {
  @include mixins.snowBack;

  padding: 60px 82px;
}

.aboutContent {
  width: 100%;
  height: 100%;
  background-color: variables.$static-white;
  display: flex;
  border-radius: 20px;
  text-align: left;
}

.aboutDescriptionBlock {
  padding: 160px 152px 160px 60px;
  flex-basis: 50%;
}

.descriptionTitle {
  @include mixins.caption;

  color: variables.$primary;
  margin-bottom: 20px;
}

.descriptionCongratulation {
  @include mixins.header2;

  margin-bottom: 20px;
}

.descriptionText {
  @include mixins.paragraph;
}

.aboutImg {
  flex-basis: 50%;
  border-radius: 20px;
  background: url('../../../img/santa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
