@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.giftCardsSection {
  background: image-set(
    url('../../../img/bg-garland.avif') type('image/avif'),
    url('../../../img/bg-garland.webp') type('image/webp'),
    url('../../../img/bg-garland.png') type('image/png')
  );
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 82px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (width <= 1440px) {
    & {
      padding: 60px 1.69vw;
    }
  }

  @media screen and (width <= 768px) {
    & {
      padding: 60px 7.8125vw;
    }
  }

  @media screen and (width <= 565px) {
    & {
      padding: 60px 13px;
    }
  }
}

.title {
  @include mixins.header1;

  max-width: 430px;
  color: variables.$static-white;
  margin-bottom: 20px;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;

  @media screen and (width <= 400px) {
    & {
      gap: 0;
    }
  }
}

.tabItem {
  padding: 11px 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media screen and (width <= 500px) {
    & {
      padding: 11px 2px;
    }
  }

  .tabButton {
    @include mixins.action_small;

    color: variables.$static-white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &.active {
    background-color: variables.$static-white-40;
    cursor: default;
    pointer-events: none;

    & .tabButton {
      cursor: default;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: variables.$static-white-40;
    }
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.cardArticle {
  background-color: variables.$content-bg;
  width: 310px;
  height: 342px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .cardInnerText {
    @include mixins.header3;

    transition: all 0.3s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .cardInnerText {
      color: variables.$primary;
    }
  }
}

.cardImg {
  width: 100%;
  object-fit: cover;
}

.cardDescription {
  flex: 1;
  background-color: variables.$static-white;
  text-align: left;
  padding: 22px 20px 20px;
  border-radius: 20px;
}

.cardTag {
  @include mixins.header4;

  margin-bottom: 8px;
}

.forWork {
  color: variables.$tag-purple;
}

.forHealth {
  color: variables.$tag-green;
}

.forHarmony {
  color: variables.$tag-pink;
}
