@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.giftCardsSection {
  padding: 60px 82px;
  text-align: center;
}

.title {
  @include mixins.header1;

  color: variables.$static-white;
  margin-bottom: 20px;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

.tabItem {
  padding: 11px 15px;
  border-radius: 12px;
  cursor: url('../../../img/svg/pointinghand.svg'), pointer;
  transition: all 0.3s ease;

  .tabButton {
    @include mixins.action_small;

    color: variables.$static-white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../../../img/svg/pointinghand.svg'), pointer;
  }

  &:hover,
  &.active {
    background-color: variables.$static-white-40;
  }
}

.tabItem.active {
  cursor: default;
  & .tabButton {
    cursor: default;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.cardArticle {
  background-color: variables.$content-bg;
  width: 310px;
  height: 342px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: url('../../../img/svg/pointinghand.svg'), pointer;

  .cardInnerText {
    @include mixins.header3;

    transition: all 0.3s ease;
  }

  &:hover .cardInnerText {
    color: variables.$primary;
  }
}

.cardImg {
  width: 100%;
  object-fit: cover;
}

.cardDescription {
  flex: 1;
  background-color: variables.$static-white;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
}

.cardTag {
  @include mixins.header4;

  margin-bottom: 8px;
}

.forWork {
  color: variables.$tag-purple;
}

.forHealth {
  color: variables.$tag-pink;
}

.forHarmony {
  color: variables.$tag-green;
}
