@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.card {
  min-width: 310px;
  max-width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: variables.$content-bg;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .cardHeader {
    @include mixins.header3;

    color: variables.$dark;
    transition: all 0.3s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .cardHeader {
      color: variables.$primary;
    }
  }
}

.cardPicture {
  height: 229px;
}

.cardImg {
  width: 100%;
  object-fit: contain;
  aspect-ratio: auto;
}

.cardText {
  flex: 1;
  background-color: variables.$static-white;
  border-radius: 20px;
  padding: 20px 20px 18px;
  text-align: left;
}

.cardTag {
  @include mixins.header4;

  margin-bottom: 12px;
}

.forWork {
  color: variables.$tag-purple;
}

.forHealth {
  color: variables.$tag-green;
}

.forHarmony {
  color: variables.$tag-pink;
}
