@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

p {
  margin: 0;
}

.hero {
  background: url('../../../img/bg-ball.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 120px 507px;
  text-align: center;
}

.congratulationTop,
.congratulationBottom {
  @include mixins.caption;

  color: variables.$static-white;
}

.congratulationMiddle {
  @include mixins.header1;

  color: variables.$static-white;
}

.heroLink {
  @include mixins.buttonLink;
}
