@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

p {
  margin: 0;
}

.hero {
  background-image: image-set(
      url('../../../img/bg-snow.avif') type('image/avif'),
      url('../../../img/bg-snow.webp') type('image/webp'),
      url('../../../img/bg-snow.png') type('image/png')
    ),
    image-set(
      url('../../../img/bg-ball.avif') type('image/avif'),
      url('../../../img/bg-ball.webp') type('image/webp'),
      url('../../../img/bg-ball.png') type('image/png')
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 430px;
  text-align: center;
}

.congratulationTop,
.congratulationBottom {
  @include mixins.caption;

  color: variables.$static-white;
}

.congratulationMiddle {
  @include mixins.header1;

  color: variables.$static-white;
}

.heroLink {
  @include mixins.buttonLink;
}
