@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.ctaSection {
  padding: 60px 7px;
  // background: url('../../../img/bg-snow.png'), url('../../../img/bg-forest.png');
  background: image-set(
      url('../../../img/bg-snow.avif') type('image/avif'),
      url('../../../img/bg-snow.webp') type('image/webp'),
      url('../../../img/bg-snow.png') type('image/png')
    ),
    image-set(
      url('../../../img/bg-forest.avif') type('image/avif'),
      url('../../../img/bg-forest.webp') type('image/webp'),
      url('../../../img/bg-forest.png') type('image/png')
    );
  // background-size: contain;
  // background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 0;
  display: flex;
  justify-content: center;
}

.ctaContent {
  padding: 121px 0;
  max-width: 426px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
  color: variables.$static-white;
  text-align: center;
}

.question {
  @include mixins.header2;
}

.ctaLink {
  @include mixins.buttonLink;
}

.timerText {
  @include mixins.caption;
}

.timerBlock {
  margin-top: -9px;
  padding: 8px 12px 12px;
  display: flex;
  background-color: variables.$static-white-40;
  border-radius: 20px;
}

.timerItem {
  position: relative;
  width: 80px;
}

.timerItem:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: variables.$static-white-40;
}

.timerNumber {
  @include mixins.header2;
}

.timerWord {
  @include mixins.header4;
}
