@use '../../../styles/variables.scss';

.main {
  background-color: variables.$primary;
  border-radius: 20px;
  margin-bottom: 2px;

  @media screen and (width <= 500px) {
    margin-bottom: 0;
  }
}
