@use '../../../styles/variables.scss';

.main {
  background: url(../../../img/bg-garland.png);
  background-color: variables.$primary;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top, center;
  border-radius: 20px;
}
