.selectLevel {
  width: 100%;
  height: 20%;
  height: 80px;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #e83c2c52;
  position: relative;
}

.levelInput {
  display: none;
}

.levelLabel {
  flex: 1;
  font-family: Vanity, serif;
  font-weight: 800;
  padding: 7px 0 0;
  color: rgba(255 255 255 / 44.7%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1em, 5vw, 2em);
  height: 100%;
  transition: all 0.3s ease-in-out;
  width: 33%;
}

label:hover {
  color: #fff;
}

input:checked + label {
  color: #fff;
}

.pseudo {
  position: absolute;
  border: 1px solid rgb(80 80 80 / 20%);
  box-shadow: 0 2px 14px 9px rgb(80 80 80 / 20%);
  border-radius: 40px;
  width: 33%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

input[id='easy']:checked ~ .pseudo {
  left: 0;
}

input[id='middle']:checked ~ .pseudo {
  left: 33.5%;
}

input[id='hard']:checked ~ .pseudo {
  left: 67%;
}

@media screen and (width <= 700px) {
  .selectLevel {
    height: clamp(58px, 14vw, 80px);
  }
}
