@use '../../../styles/_mixins.scss';
@use '../../../styles/_variables.scss';

.header {
  width: 100%;
  background-color: variables.$static-white;
  display: flex;
  justify-content: space-between;
  padding: 9.4px variables.$padding;

  @media screen and (width <= 768px) {
    & {
      position: relative;
      z-index: 1;
    }
  }
}

.logo {
  display: flex;
  padding: 8px 20px;
  gap: 8.7px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  .logoText {
    @include mixins.action_small;

    transition: all 0.3s ease;
  }
}

.logoDivImg {
  object-fit: cover;
}

.logoImg {
  object-fit: cover;
  object-position: center 3px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.nav {
  @media screen and (width <= 768px) {
    position: fixed;
    z-index: -1;
    height: 100dvh;
    background-color: variables.$static-white;
    width: 100%;
    transition: all 0.3s ease-in;
    right: -100%;
    opacity: 0;

    &.open {
      right: 0;
      transform: translateX(-0);
      opacity: 1;
    }
  }
}

.navList {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 7px;
  align-items: center;

  @media screen and (width <= 768px) {
    & {
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      padding-top: 49px;
    }
  }
}

.navItem {
  @include mixins.action_small;

  list-style-type: none;

  .navLink {
    cursor: pointer;

    span {
      padding: 12px 20.4px;
      transition: all 0.3s ease-in-out;
    }

    &.active span {
      color: variables.$primary;
      background-color: variables.$primary10;
      border-radius: 12px;
      cursor: default;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: variables.$primary;

      .navLink span {
        background-color: variables.$primary10;
        border-radius: 12px;
      }
    }
  }

  @media screen and (width <= 768px) {
    @include mixins.action_large;

    display: flex;
    justify-content: center;
    position: relative;

    .navLink {
      text-align: center;
      flex: 1;
      position: relative;
      z-index: 10;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: transparent;

          span {
            background-color: variables.$primary10;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

.burgerButton {
  display: none;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: variables.$dark;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    position: absolute;
    top: 26px;
  }

  &::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: variables.$dark;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    position: absolute;
    top: 19px;
  }

  @media screen and (width <= 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nav.open + .burgerButton {
  &::before {
    transform: rotate(135deg) translate(2px, -3px);
  }

  &::after {
    transform: rotate(225deg) translate(2px, 3px);
  }
}

.noScroll {
  overflow: hidden;
}
