@import '../../../styles/_mixins.scss';
@import '../../../styles/_variables.scss';

.header {
  width: 100%;
  background-color: $static-white;
  display: flex;
  justify-content: space-between;
  padding: 10.8px 82px;
}

.logo {
  display: flex;
  padding: 8px 20px;
  gap: 8.7px;
  align-items: center;
  cursor: url('../../../img/svg/pointinghand.svg'), pointer;
}

.logoDivImg {
  object-fit: cover;
}

.logoImg {
  object-fit: cover;
  width: 100%;
}

.logoText {
  @include action_small;
}

.navList {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.navItem {
  @include action_small;
  list-style-type: none;

  .navLink {
    cursor: url('../../../img/svg/pointinghand.svg'), pointer;
    padding: 12px 20.4px;
    transition: all 0.3s ease;
  }

  &:hover {
    color: $primary;

    .navLink {
      background-color: $primary10;
      border-radius: 12px;
    }
  }
}
