@font-face {
  font-family: Montserrat-Regular;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Allura;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/allura/Allura-Regular.ttf');
}

@mixin header1 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin header2 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
}

@mixin header3 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 8%;
  text-transform: uppercase;
}

@mixin header4 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

@mixin paragraph {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 16px;
  line-height: 148%;
}

@mixin action_large {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
}

@mixin action_small {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

@mixin caption {
  font-family: Allura, sans-serif;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 5%;
}

@mixin slider {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
}
