$primary: #ff4646;
$primary10: rgba(255 70 70 / 10%);
$dark: #181c29;
$static-white: #fff;
$static-white-40: rgba(255 255 255 / 40%);
$static-white-20: rgba(255 255 255 / 20%);
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$content-bg: #ecf3f8;
$overlay: rgba(24 28 41 / 80%);

$padding: clamp(8px, 8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)), 82px);
