$primary: #ff4646;
$primary10: rgba(255, 70, 70, 0.1);
$dark: #181c29;
$static-white: #fff;
$static-white-40: rgba(255, 255, 255, 0.4);
$static-white-20: gba(255, 255, 255, 0.2);
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$content-bg: #ecf3f8;
