@import url('../../node_modules/modern-normalize/modern-normalize.css');

html {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  /* padding: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}
