@import url('../../node_modules/modern-normalize/modern-normalize.css');

body {
  min-width: 100vw;
  min-height: 100dvh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
