@import url('../../node_modules/modern-normalize/modern-normalize.css');

body {
  min-height: 100dvh;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

p {
  margin: 0;
}

@media screen and (width <= 790px) {
  body {
    padding: 0;
  }
}
