@font-face {
  font-family: Vanity;
  src: url('../../../fonts/vanity.light.ttf');
  font-weight: normal;
  font-style: normal;
}

.keyboardWrapper {
  color: black;
  flex: 1;
  padding: 20px 2px;
  display: flex;
  flex-direction: column;
  min-height: 295px;
  gap: 20px;
  gap: clamp(1vw, 2.5vw, 1.5em);
  position: relative;
  width: 100%;
  transition: all 0.5s ease;
}

.keyButton {
  text-shadow: 0 0 0 #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: Vanity, serif;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  width: 3em;
  height: 3em;
  background: #ae0f00;
  border: 2px solid rgb(255 255 255);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: all 150ms cubic-bezier(0, 0, 0.58, 1);
}

.keyButton::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  inset: 0;
  background: #de13005a;
  border-radius: inherit;
  box-shadow: 0 2px 0 0 #fafafa;
  transform: translate3d(0, 0.75em, -1em);
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.keyButton:hover {
  transform: translate(0, 0.25em);
  background-color: #ff4e3e;
  border-color: #ffffffb0;
}

.keyButton:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

.keyButton:active,
.keyButton.active {
  transform: translate(0, 0.75em);
  background-color: #e6514300;
  border-color: #ffffffb0;
  cursor: default;
}

.keyButton.disabled {
  pointer-events: none;
}

.keyButton:active::before,
.keyButton.active::before {
  transform: translate3d(0, 0, -1em);
}

.rowWrapper {
  display: flex;
  justify-content: center;
  gap: clamp(0.2vw, 1.5vw, 0.5em);
  flex-wrap: wrap;
  width: 100%;
  transition: all 0.5s ease;
}

@media screen and (width <= 620px) {
  .keyboardWrapper {
    width: 290px;
  }

  .keyButton {
    width: 50px;
    height: 50px;
  }
}

@media screen and (width <= 415px) {
  .keyboardWrapper {
    width: 255px;
    padding: 0 2px;
  }

  .keyButton {
    width: 35px;
    height: 35px;
  }

  .rowWrapper {
    gap: clamp(2.2vw, 10.5vw, 0.5em);
  }
}
