@font-face {
  font-family: Solerado;
  src: url('../../../fonts/Soledago.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vanity;
  src: url('../../../fonts/vanity.light.ttf');
  font-weight: normal;
  font-style: normal;
}

.playWindow {
  color: white;
  width: 100%;
  flex-basis: 70%;
  padding: 33px;
  background: url('../../../img/svg/top.svg'), url('../../../img/svg/bottom.svg');
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameTitle {
  font-family: Solerado, serif;
  font-size: clamp(1em, 8vw, 5em);
  word-spacing: 30px;
  letter-spacing: 5px;
  margin: 0;
}

/* .selectLevel {
  width: 80%;
  height: 20%;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
} */

.buttonStart {
  color: white;
  font-family: Vanity, serif;
  font-size: clamp(0.5em, 8vw, 3em);
  width: 200px;
  height: 105px;
  padding: 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de130034;
  border-radius: 50px;
  border: 2px solid rgba(255 255 255 / 20%);
  transition: all 0.3s ease-in-out;
}

.buttonStart:hover {
  background-color: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 0 2px 14px 12px rgba(255 255 255 / 20%);
}
