@font-face {
  font-family: Solerado;
  src: url('../../../fonts/Soledago.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vanity;
  src: url('../../../fonts/vanity.light.ttf');
  font-weight: normal;
  font-style: normal;
}

.playWindow {
  color: white;
  width: 100%;
  flex-basis: 70%;
  padding: 55px;
  background: url('../../../img/svg/top.svg'), url('../../../img/svg/bottom.svg');
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameTitle {
  font-family: Solerado, serif;
  font-size: clamp(1em, 8vw, 5em);
  word-spacing: 30px;
  letter-spacing: 5px;
  margin: 0;
}

/* .selectLevel {
  width: 80%;
  height: 20%;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
} */

.buttonStart {
  color: white;
  font-family: Vanity, serif;
  font-size: clamp(0.5em, 8vw, 3em);
  font-weight: 800;
  width: 200px;
  height: 105px;
  padding: 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de130034;
  border-radius: 50px;
  border: 2px solid rgba(255 255 255 / 20%);
  transition: all 0.3s ease-in-out;
}

.buttonStart:hover {
  background-color: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 0 2px 14px 9px rgb(80 80 80 / 20%);
}

.gameButtons {
  width: 85%;
  height: 105px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  border: 1px solid #c1121f;
}

.controlButton {
  padding-top: 10px;
  font-family: Vanity, serif;
  font-weight: 800;
  font-size: clamp(1em, 4vw, 2em);
  width: 30%;
  color: white;
  border-radius: 50px;
  border: 2px solid #c1121f;
  backdrop-filter: blur(100px);
  background: #c1121f;
}

.inputSequence {
  padding: 10px;
  color: white;
  text-align: center;
  font-family: Vanity, serif;
  font-weight: 800;
  font-size: clamp(1em, 4vw, 2em);
  line-height: normal;
  letter-spacing: 10px;
  cursor: default;
}

.roundBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20%;
  gap: 10px;
}

.currentLevel {
  border-radius: 40px;
  font-family: Solerado, serif;
  font-weight: 400;
  font-size: clamp(1em, 4vw, 2em);
  border: 1px solid white;
  padding: 20px 30px;
}

.round {
  color: rgba(255 255 255 / 53.8%);
  padding-top: 20px;
  font-family: Vanity, serif;
  font-weight: 800;
  font-size: clamp(1em, 3vw, 2em);
  min-width: 35px;
  text-align: center;
}

.pointerEvents {
  pointer-events: none;
}

.disabled {
  background: #c1121e58;
}
