.root {
  max-width: 57em;
  max-height: 50em;
  width: 100%;
  min-height: 50em;
  background-image: url('../../../img/gradient_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

@media screen and (width <= 700px) {
  .root {
    border-radius: 0;
    min-height: 100dvh;
  }
}
