.root {
  max-width: 57em;
  max-height: 50em;
  width: 100%;
  min-height: 50em;
  background-image: url('../../../img/gradient_bg.png');
  background-image: image-set(
    url('../../../img/gradient-1000.avif') type('image/avif'),
    url('../../../img/gradient-1000.webp') type('image/webp'),
    url('../../../img/gradient-1000.png') type('image/png')
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

@media screen and (width <= 790px) {
  .root {
    border-radius: 0;
    min-height: 100dvh;
  }
}
