@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.popUp {
  width: 400px;
  border-radius: 20px;
  background-color: variables.$content-bg;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media screen and (width <= 400px) {
    width: 364px;
  }
}

.popUp::backdrop {
  background: variables.$overlay;
}

.noScroll {
  overflow: hidden;
}

.modalPicture {
  height: 230px;
  overflow: hidden;
}

.modalImg {
  width: 100%;
  object-fit: contain;
  aspect-ratio: auto;
  margin-top: -33px;

  @media screen and (width <= 400px) {
    margin-top: -20px;
  }
}

.giftDescription {
  padding: 20px;
  border-radius: 20px;
  background-color: variables.$static-white;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.tag {
  @include mixins.header4;
}

.forWork {
  color: variables.$tag-purple;
}

.forHealth {
  color: variables.$tag-green;
}

.forHarmony {
  color: variables.$tag-pink;
}

.name {
  @include mixins.header3;
}

.description {
  @include mixins.paragraph;
}

.superpowersHeader {
  @include mixins.header4;

  color: variables.$dark;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.superpowersItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.superpowersItemName {
  @include mixins.paragraph;

  text-transform: capitalize;
  width: 50%;
}

.superpowersPoint {
  max-width: 50%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.snowflakeImg {
  width: 16px;
  height: 16px;
}

.superpowersSnowflakeBlock {
  display: flex;
  gap: 8px;
}

.superpowersBottom {
  display: flex;
  flex-direction: column;
}

.buttonClose {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  cursor: pointer;
}
