@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.sliderSection {
  @include mixins.snowBack;

  padding: 60px 0;
}

.gratitude {
  @include mixins.caption;

  color: variables.$static-white;
  margin-bottom: 13px;
}

.gratitudeBottom {
  @include mixins.header2;

  color: variables.$static-white;
  margin-left: 4px;
  margin-bottom: 19px;
}

.sliderContainer {
  overflow: hidden;
}

.sliderItems {
  padding-left: clamp(
    8px,
    8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)),
    82px
  );
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 16.2px;
  transition: transform 0.5s ease-in;
}

.sliderImgs {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}

.sliderText {
  @include mixins.slider;

  color: variables.$static-white;
}

.sliderControls {
  display: flex;
  gap: 20px;
  padding: 0 82px;
  justify-content: flex-end;

  @media screen and (width <= 1440px) {
    & {
      padding: 0 5.69vw;
    }
  }

  @media screen and (width <= 768px) {
    & {
      padding: 0 8px;
    }
  }
}

.sliderButton {
  border: 1px variables.$static-white solid;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:disabled path,
  &:disabled {
    user-select: none;
    opacity: 0.4;
    cursor: default;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      background-color: variables.$static-white;

      svg path {
        stroke: variables.$primary;
      }
    }
  }
}
