@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.sliderSection {
  @include mixins.snowBack;

  padding: 60px 0;
}

.gratitude {
  @include mixins.caption;

  color: variables.$static-white;
  margin-bottom: 20px;

  span {
    @include mixins.header2;

    margin-top: 12px;
  }
}

.sliderItems {
  padding-left: 5.69vw;
  display: flex;
  gap: 20px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;

  @media screen and (width <= 768px) {
    padding-left: 1.04vw;
  }
}

.sliderImgs {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}

.sliderText {
  @include mixins.slider;

  color: variables.$static-white;
}

.sliderControls {
  display: flex;
  gap: 20px;
  padding: 0 82px;
  justify-content: flex-end;
}

.sliderButton {
  border: 1px variables.$static-white solid;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: url('../../../img/svg/pointinghand.svg'), pointer;

  &:disabled path,
  &:disabled {
    user-select: none;
    opacity: 0.4;
    cursor: default;
  }

  &:hover:not(:disabled) {
    background-color: variables.$static-white;

    svg path {
      stroke: variables.$primary;
    }
  }
}
