@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_variables.scss' as *;

.giftsSection {
  @include snowBack;

  padding: 58px 82px;
  text-align: center;
  color: $static-white;

  @media screen and (width <= 1440px) {
    & {
      padding: 58px 5.69vw;
    }
  }

  @media screen and (width <= 768px) {
    & {
      padding: 60px 7.8125vw;
    }
  }

  @media screen and (width <= 400px) {
    & {
      padding: 60px 4.7125vw;
    }
  }
}

.giftsTitle {
  @include caption;

  margin-bottom: 15px;
}

.giftsDescription {
  @include header2;

  margin-bottom: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.card {
  max-width: 310px;
  min-height: 342px;
  border-radius: 20px;
  background-color: $content-bg;
  display: flex;
  flex-direction: column;
  cursor: url('../../../img/svg/pointinghand.svg'), pointer;

  .cardHeader {
    @include header3;

    color: $dark;
    transition: all 0.3s ease;
  }

  &:hover .cardHeader {
    color: $primary;
  }
}

.cardImg {
  width: 100%;
  object-fit: contain;
}

.cardText {
  flex: 1;
  background-color: $static-white;
  border-radius: 20px;
  padding: 19px 20px;
  text-align: left;
}

.cardTag {
  @include header4;

  margin-bottom: 10px;
}

.forWork {
  color: $tag-purple;
}

.forHealt {
  color: $tag-green;
}

.forHarmony {
  color: $tag-pink;
}
